[APOD]
    DOWNLOAD_PATH = ~/Downloads/
    CUSTOM_FOLDER = nasa-apod-backgrounds
    RESOLUTION_TYPE = stretch
    RESOLUTION_X = 1024
    RESOLUTION_Y = 768
    NASA_APOD_SITE = http://apod.nasa.gov/apod/
    IMAGE_SCROLL = true
    IMAGE_DURATION = 1200
    SEED_IMAGES = 10
    SHOW_DEBUG = true
    SCREEN_UTILITY = displayplacer list
    SET_BG_CMD = osascript -e 'tell application "Finder" to set desktop picture to POSIX file "{}"'
